.chats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(173, 18, 173);
  color: grey;
}
.sendbox {
  display: inline;
}
.sendbtn{
  background-color: rgb(47, 132, 229);
  color: white;
}